.button1 {
  color: white;
  background-color: #ff5656;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 5px;
}
.button1:hover {
  color: black;
  background-color: #f1f1f1;
  transition: 1s;
}


.button2 {
  color: white;
  background-color: #ff9700;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 5px;
}
.button2:hover {
  color: black;
  background-color: #f1f1f1;
  transition: 1s;
}

.button3 {
  color: white;
  background-color: black;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 5px;
}
.button3:hover {
  color: black;
  background-color: #f1f1f1;
  transition: 1s;
}

.button_div {
  display: flex;
  justify-content: flex-end;
}

.button_div a {
  text-decoration-line: none;
}

/* 게시판 header아래 버튼 게시물 다 감싸는 div */
.post_div {
  padding: 100px;
}